<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1027021315679-60p0phdhj54tmfoaoafjama9a7pk2nfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027021315679-60p0phdhj54tmfoaoafjama9a7pk2nfs</string>
	<key>API_KEY</key>
	<string>AIzaSyBQWC3-g2OjlvHyXcWlWXAsMoo5taKX54E</string>
	<key>GCM_SENDER_ID</key>
	<string>1027021315679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexandrucorut.snapchat-clone</string>
	<key>PROJECT_ID</key>
	<string>snapchat-clone-b22f3</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-clone-b22f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027021315679:ios:1e00d251ace08183</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-clone-b22f3.firebaseio.com</string>
</dict>
</plist>